.squashed {
    width: 100%;
	margin: auto;
}

.copyright {
	float:right;
	margin-right: 1%;
}

.blurb-lead {
	color: #111;
	font-weight: 500;
	font-size: 1.2em;
	font-style: italic;
	border-left: 5px solid #eee;
	padding-left: 12px;
}

.herobooks .btn {
  font-size: 1.4em;
  font-weight: 600;
}

.blurb {
	font-style: italic;
	font-size: 1.1em;
	color: #333;
}

.call-to-action {
	color: #777;
}

.backcatalogue {
	background: #efefef;
	border-radius: 4px;
	margin-top: 10px;
}

.backcatalogue h2 {
	margin-bottom: 50px;
	text-align: center;
}

.backcatalogue p {
	width: 80%;
}

.backcatalogue .btn {
}


.bookrow {
  display: flex;
  height: 100%;
  align-items: flex-start;
}

.singlehero {
  margin: 12px;
  padding: 12px;
  display:flex;
  flex-direction: row;
  align-items: center
}

@media only screen and (max-width: 991px) {
	

  .singlehero h2 {
    font-size: 1.4em;
    text-align: center;
  }

    .bookrow {
      display:unset;
      height: unset;
      align-items: unset;
    }

	.img-responsive {
		width: 70%;
		margin: 24px auto;
		box-shadow: 2px 2px 14px #ccc;
	}
	
    .backcatalogue .col-lg-4 {
      
    }
  
	.backcatalogue img {
		margin: 12px;
	}
	
	.col-lg-4 {
		margin-bottom: 64px;
	}
	
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	
	.backcatalogue img {
		width: 140px;
		margin: 12px;
		float: left;
	}

	.backcatalogue .btn {
		font-size: 1.4em;
		right: 10%;
	}
	
	.backcatalogue .col-lg-4 {
		margin-bottom: 184px;
	}
	
}
@media only screen and (min-width: 1200px) {
  
	.backcatalogue img {
		width: 40%;
		margin-right: 14px;
		float: left;
	}
	
	.backcatalogue p {
		width: 100%;
	}
	
}

.fullwidth {
  display:inline-block;
  height:100%;
  width:100%;
}