.squashed {
    width: 100%;
	margin: auto;
}

.copyright {
	float:right;
	margin-right: 1%;
}

.blurb-lead {
	color: #111;
	font-weight: 500;
	font-size: 1.2em;
	font-style: italic;
	border-left: 5px solid #eee;
	padding-left: 12px;
}

.blurb {
	font-style: italic;
	font-size: 1.1em;
	color: #333;
}

.call-to-action {
	color: #777;
}

.backcatalogue {
	background: #efefef;
	border-radius: 4px;
	margin-top: 10px;
}

.backcatalogue h2 {
	margin-bottom: 50px;
	text-align: center;
}

.backcatalogue .btn {
	float: right;
}

@media only screen and (max-width: 991px) {
	
	.img-responsive {
		width: 70%;
		margin: 24px auto;
		box-shadow: 2px 2px 14px #ccc;
	}
	
	.backcatalogue img {
		width: 40px;
		float: left;
		margin: 12px;
	}
	
	.backcatalogue p {
		margin-bottom: 20px;
	}
	
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	
	.backcatalogue img {
		width: 140px;
		margin: 12px;
	}
	
}
@media only screen and (min-width: 1200px) {
	.backcatalogue img {
		width: 40%;
		margin-right: 14px;
		float: left;
	}
	
}